:root {
  --font-primary: "Quicksand", "Poppins",
                  -apple-system, BlinkMacSystemFont, "Segoe UI",
                  Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--font-primary);
}
